.navbar
{
    background: rgba(30, 30, 30, 0.892);
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    max-width: 100rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.desktopMenu
{
    margin-right: 30rem;
}
.logo
{
    margin-top: 1rem;
    margin-left: 2rem;
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.desktopMenuListItem
{
    margin: 1rem;
    cursor: pointer;
    margin-left: 4rem;
    border-radius: 1rem;
    transition: 0.3s ease;
}

.desktopMenuListItem:hover
{
    color: greenyellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid greenyellow;
}

.navMenu
{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
    cursor: pointer;
}

.listItem
{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);
}

.listItem:hover
{
    color: greenyellow;
}

.mobMenu
{
    display: none;
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
}

@media screen and (max-width: 720px)
{
    .mobMenu
    {
        display: flex;
    }    
    .desktopMenu
    {
        display: none;
    }
    .desktopMenuBtn
    {
        display: none;
    }
}